{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Capture administration {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_administration %}active{% endblock %}
{% block navbar_class_capture_admin %}active{% endblock %}

{% block body_page_title %} Capture site [Malengwa] {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Download / upload tool</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li>Capture site</li>
{% endblock breadcrum %}
{% block content %}
<div class="form-horizontal">
    <div class="note note-info">
        <h4><strong>Download / upload tool</strong></h4>
    </div></p>

<div class="multiField">
    <div class="panel panel-blue" >
        <div class="panel-heading" >
            Download
        </div>
        <div class="panel-body pan"><p/> 
            <form class="form-inline" role="form">
                <label for="id_download_sections" class="control-label col-md-3">Sections: </label>
                <div class="form-group col-md-4">
                    <select data-style="btn-white" data-size="8" class="selectpicker form-control" name='download_sections' id='id_download_sections'>
                        {% for item_id,title in download_sections %}
                        <option value={{item_id}}>{{title|truncatechars:60}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <div>
                        <span>
                            &nbsp;&nbsp;<a type="button" id="downloadbtn" class="btn btn-success btn-square"><i class="fa fa-download"></i> Download</a>
                        </span>
                    </div>
                </div>
            </form>
            <p/>
            <div id="div_id_currently_downloading" class="form-group">
                <label for="id_currently_downloading" class="control-label col-md-3">Currently downloading: Org unit registry ... <i class="fa fa-spinner" style="display:none"></i> </label>
                <div class="col-md-6">
                    <a type="button" href="#" class="btn btn-success btn-square" id='id_currently_downloading' disabled><i class="fa fa-times"></i> Stop</a>
                </div>

            </div>
            <div>
                <span style="margin-left:20px">
                    <strong>
                        Recent download history
                    </strong>
                </span>
                <p/>
                <table id="downloadstbl" class="table table-hover table-striped table-bordered table-advanced tablesorter download_history" id="is_download_history" style="margin-left:20px;width:97%">
                    <thead>
                        <tr>
                            <th>Section</th>
                            <th>Started</th>
                            <th>Ended</th>
                            <th>Number of records</th>
                            <th>Success</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyresults">
                        {% for download in downloads %}
                        <tr>
                            <td> {{ download.section }} </td>
                            <td> {{ download.started }} </td>
                            <td> {{ download.ended }} </td>
                            <td> {{ download.num_of_recs }} </td>
                            <td> {{ download.success }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row mbm" style="margin-left:20px">
                    <div class="col-lg-6">
                        <div class="pagination-panel" >Page 
                            &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled="disabled"/>&nbsp;
                            {% if pageinfo.pagescount == 1%}
                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                            {% else %}
                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                            {% endif %}
                            of&nbsp;<label class="countpages"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                        </div>
                    </div>
                    <div>
                        <span style="color:green"> <strong>{{pageinfo.success}}</strong> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-blue" >
        <div class="panel-heading" >
            Upload
        </div>

        <div class="panel-body pan"><p/> 
            <div id="div_id_recent_upload" class="form-group">
                <label for="id_recent_upload" class="control-label col-md-3">Most recent upload: </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong> 21 Dec 2014 16:34 {{workforce.person_type}}</strong></p>
                </div>
            </div>
            <div id="div_id_recent_upload" class="form-group">
                <label for="id_recent_upload" class="control-label col-md-3">Total number of forms ever uploaded from this capture site: </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>37 {{workforce.person_type}}</strong></p>
                </div>
            </div>
            <div>
                <span style="margin-left:20px">
                    <strong>
                        Upload queue
                    </strong>
                </span>
                <p/>
                {% if not has_uploads %}
                <span>
                    <div style="margin-left:20px" id = "emptyuploadqueue"> There are currently no forms in the upload queue</div>
                </span>
                {% else %}
                <table id="formtbl" class="table table-hover table-striped table-bordered table-advanced tablesorter download_history" id="is_download_history" style="margin-left:20px;width:50%">
                    <thead>
                        <tr>
                            <th>Form type</th>
                            <th>Number of forms in queue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for upload in uploads %}
                        <tr>
                            <td> {{ upload.formtype }} </td>
                            <td> {{ upload.count }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div>

                <span style="margin-left: 20px">
                    <a type="button" id="uploadformbtn" class="btn btn-success btn-square"><i class="fa fa-upload"></i> Upload</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="id_btn_upload_sections">Uploading... <i class="fa fa-spinner" style="display:none"></i></label>&nbsp;
                    <a type="button" id="id_btn_upload_sections" href="#" class="btn btn-success btn-square" disabled><i class="fa fa-times"></i> Stop</a>
                </span>
                <p/>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}